.profile {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid #afabab;
	border-radius: 5px;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.avatar {
	margin-bottom: 10px;
}

.name {
	margin-bottom: 5px;

	font-size: 18px;
	font-weight: 700;
}

.tag {
	margin-bottom: 5px;
	
	color: #6b6767;
}

.location {
	color: #6b6767;
}

.stats {
	width: 100%;
	display: flex;
	justify-content: space-around;
	gap: 20px;
	padding: 10px 0;

	background-color: #e9e9e9;
}

.stats li {
	width: 75px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.label {
	margin-bottom: 5px;

	font-weight: 700;
}

.quantity {

}